@import "../../styles/mixin";
@import "../../styles/variables";

.sidebar__menu {
	// @include flex(column, flex-start, center);
	padding: 8px;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: repeat(3, 25px);
	grid-template-areas:
		"widthLabel widthInput add"
		"heightLabel heightInput add"
		"colorLabel colorInput add";
	gap: 4px;
	align-items: center;

	label {
		@include sidebar-label;
		@include flex(row, flex-start, center);

		&[for="widthInput"] {
			grid-area: widthLabel;
		}
		&[for="heightInput"] {
			grid-area: heightLabel;
		}
		&[for="colorPicker"] {
			grid-area: colorLabel;
		}
	}
	input {
		// @include unButton;
		// font-size: 1rem;
		color: #000;
		width: 40px;
		margin: 0 4px;
		// background-color: #faf3dd;
		border: none;
		outline: none;
		// line-height: 1.5em;
		// width: 50px;
		#widthInput {
			grid-area: widthInput;
		}
		#heightInput {
			grid-area: heightInput;
		}
		#colorInput {
			grid-area: colorInput;
		}
	}

	button {
		@include unButton;
		grid-area: add;
		// margin: 8px;
		color: $text-color;
		border: 1px solid white;
		border-radius: 5px;
		padding: 15px;
		&:hover {
			background-color: $text-color;
			color: $menu-background-color;
		}
	}
}
