@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);
//general
//colors
$background-color: #d6e6f2;
$menu-background-color: #4c6e94;
$list-background-color: #4c6e94;
$block-color-primary: #131010;
$block-color-secondary: #746868;
// $background-color: rgba(0, 0, 0, 0.7);
// $menu-background-color: #262424;
// $block-color-primary: #131010;
// $block-color-secondary: #746868;

//typo
$text-color: #ffffff;
$header-color: #4c6e94;
$text-color-faded: #c4c4c4;
$font-details: "Righteous", cursive;
$font-song: "Rockwell", cursive;

$corner-radius: 5px;
