@import "../../styles/mixin";
@import "../../styles/variables";

.canvas {
	grid-area: canvas;
	// margin: 0 5%;
	@include flex(column, flex-start, flex-start);
	flex-wrap: wrap;
	align-content: flex-start;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
	border-radius: $corner-radius;
	position: relative;
	max-height: 100%;
}
